@font-face {
  font-family: TFOTFont;
  src: url("../assets/fonts/3270-Regular.otf")
}

body {
  font-family: TFOTFont;
  color: white;
  background-color: rgb(20, 20, 20);
  margin: 0px;
  display: inline;
}

*.fixed {
  position: fixed;
}

*.fit {
  background-image: url('assets/images/icon.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

*.centered {
  position: center;
}

h1 {
  font-size: 4vw;
}

a.big-link {
  font-size: 2vw;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

hr.solid {
  border-top: 10px solid;
}

@keyframes summary-page-show {
  from { margin-left: 100%; }
  to { margin-left: 0%; }
}

div.summary-page {
  background-color: #67b0e8;
  padding-left: 2vw;
  min-width: 20vw;
  padding-bottom: 100vh;
  animation-name: summary-page-show;
  animation-duration: 1s;
}

@keyframes text-page-show {
  from { margin-left: 0vw; }
  to { margin-left: 22vw; }
}

div.text-page {
  background-color: #141b1e88;
  margin-bottom: 0px;
  margin-left: 22vw;
  padding-top: 0.5vh;
  min-width: 10vh;
  padding-bottom: 100vh;
  animation-name: text-page-show;
  animation-duration: 1s;
}

div.left-space {
  display: inline-block;
  margin-left: 1vw;
  float: left;
}

div.right-space {
  display: inline-block;
  margin-right: 1vw;
  float: right;
}

#game-board {
  background-color: back;
}

div.white-cell {
  background-color: white;
  border: .25vmin solid black;
}

footer {
  background-color: rgb(20, 20, 20);
  margin-left: 22vw;
}
